@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 0;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background-color: #f3dfc4;
}
.conteiner {
    max-width: 700px;
    margin: auto;
}
body p {
    font-size: 18px;
}
.table {
    padding: 20px;
    width: 97%;
    height: 100px;
    text-align: center;

    border-radius: 10px;
    background-color: #b0f0aa;
}
.table td,
th {
    padding-bottom: 10px;
}
.hobby {
    line-height: 25px;
    padding: 10px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(239, 196, 243);
}
.cat {
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
a {
    color: black;
    transition: all 0.2s;
}
a:visited {
    color: purple;
}
a:hover {
    color: orange;
    font-size: 20px;
}

a:active {
    color: blue;
}
.btn {
    background: rgb(168, 255, 173);
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(250, 183, 244);
    opacity: 0.7;
}
form h4 {
    text-align: center;
    font-size: 30px;
}
.form__group label {
    display: block;
    font-size: 14px;
}
.form__group input,
.form__group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    font-family: inherit;
}
.form-row .form__group {
    display: inline-block;
    margin-right: 20px;
    width: calc(50%-20px);
}
.form-row {
    margin-bottom: 10px;
}
.form-row .form__group:last-child {
    margin-right: 0;
}
.info {
    display: flex;
    margin-top: 30px;
}
img {
    width: 40%;
    height: 40%;
}
.info div {
    margin-left: 30px;
    width: 56%;
    border-bottom: 1px solid black;
}
.navigation {
    background-color: #b0f0aa;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    display: inline-block;
    width: 100%;
    color: black;
}
.navigation li {
    border-right: solid 1px rgb(111, 228, 15);
    height: 30px;
    background-color: #b0f0aa;
    display: inline-block;
    width: 19%;
    padding: 10px 0 0 0;
    text-align: center;
}
.navigation li:nth-last-child() {
    margin-right: 0px;
}
.navigation li:hover {
    background-color: aquamarine;
    color: gray;
}
@media (max-width: 610px) {
    .info {
        display: block;
        text-align: center;
    }
    .form-row .form__group {
        display: block;
        width: 100%;
    }
}
